<h1>Welcome to capistrano</h1>

<div>
  <h3>Input new value</h3>
  <input type="text" name="" id="" value="123" /><br />
  <h3>Input textarea</h3>
  <textarea name="" id= rows="8" cols="40"></textarea>
</div>
